﻿

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nguyen Thanh Sieu</title>
    <link href="../../Content/Css/my_css.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="topbar">
            <div class="numberContact">
                <span><b>0123.888.0123</b> (HN) - <b>0129.233.3555</b> (TP HCM)</span>
                <button class="contact">Liên hệ quảng cáo</button>

            </div>

            <div class="social">
                <button class="likeButton">Like</button>

                <button class="followButton">Follow</button>
                <button class="youtubeButton">Youtube</button>
            </div>
            <div class="login">
                <button class="signIn">Đăng nhập</button>
                <button class="signUp">Đăng ký</button>
                <input type="text" name="search" placeholder="Tìm kiếm...." />
            </div>

        </div>
        
        <div class="bannerBar">
            <div class="banner1">
                <img src="~/Content/Images/Logo_Vnexpress.png" />
            </div>
            <div class="banner2">
                <img src="~/Content/Images/banner-ads-1.png" />
            </div>

            <div class="banner3>
                <img src="~/Content/Images/banner-ads-2.png" />
            </div>
        </div>
        <main>@RenderBody()</main>
    </header>
</body>
</html>
